
<div *ngIf="restaurante" class="restaurante-box">
	<h2>Datos del restaurante</h2>
	<p class="nombre-restaurante">Nombre: {{restaurante.nombre}}</p>
	<p class="direccion-restaurante">Direccion: {{restaurante.direccion}}</p>
	<p class="descripcion-restaurante">Descripcion: {{restaurante.descripcion}}</p>
	<p class="precio-restaurante" [ngSwitch]="restaurante.precio">
		<span *ngSwitchWhen="'barato'">Entre 2.50€ y 5.00€</span>
		<span *ngSwitchWhen="'medio'">Entre 5.10€ y 10.00€</span>
		<span *ngSwitchWhen="'alto'">Mas de 10.00€</span>
	</p>
</div>
